<ul>
    <li>Why we do what we do and why we love what we do.</li>
    <li>Emphasis on an at home family style breeder</li>
    <li>Information about your breeding practices, your location, and your mission or philosophy.</li>
    <li>Share stories or backgrounds of how you got into breeding, to create a personal connection with potential buyers.</li>
</ul>
<h2>CONTACT US SECTION</h2>
<ul>
    <li>Provide multiple ways for potential buyers to reach out, including phone numbers, email addresses. Here is where we will add the form to request more information and show interest.</li>
</ul>
