<div class="card shadow border-0 mt-4 mb-4">
    <div class="card-header bg-secondary bg-gradient text-light py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white text-uppercase">Golden Doodle Information</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="py-3">
            <div class="col-12 mb-3">
                <h1>Cuddle Buddy Pups: Shaping Tomorrow's Best Friends</h1>

                <p>At Cuddle Buddy Pups, we're not just raising puppies; we're nurturing future family members. Our comprehensive 4-week socialization and introduction program ensures every puppy is exposed to a variety of experiences, helping mold them into well-rounded, confident, and friendly pets.</p>

                <h2>Week 5 - Early Exposure:</h2>
                <p>As the first formal week of our program, the puppies get accustomed to:</p>
                <ul>
                    <li>Soft sounds like gentle music and human whispers to avoid any startle.</li>
                    <li>Initial exposure to common household items, such as soft furnishings and safe kitchen equipment.</li>
                    <li>Introduction to mild scents, like baby shampoo and fresh linen.</li>
                    <li>Play sessions with soft plush toys to stimulate their playful nature.</li>
                    <li>Short and gentle grooming sessions, acclimating them to human touch.</li>
                </ul>

                <h2>Week 6 - Building Confidence:</h2>
                <p>The puppies start exploring their surroundings:</p>
                <ul>
                    <li>Brief exposure to household sounds, including distant vacuum noises.</li>
                    <li>Discovering new toys filled with diverse textures to stimulate their senses.</li>
                    <li>Ambient sounds of daily life (traffic, children) to acclimate them to the world outside.</li>
                    <li>Gentle handling sessions focusing on familiarizing touches on their paws, ears, and tails.</li>
                </ul>

                <h2>Week 7 - Exploring New Environments:</h2>
                <p>The puppies take their first adventurous steps:</p>
                <ul>
                    <li>Embarking on short, comforting car rides.</li>
                    <li>Venturing into our controlled outdoor space for a breath of fresh air.</li>
                    <li>Experiencing different terrains, from soft towels to grass under their tiny paws.</li>
                    <li>Encountering a range of new scents, from intriguing lemon peels to the inviting smell of the outdoors.</li>
                    <li>Engaging with other gentle, vaccinated animals to broaden their social circle.</li>
                </ul>

                <h2>Week 8 - Meeting the World:</h2>
                <p>Our puppies are now ready to shine:</p>
                <ul>
                    <li>Visiting friendly environments, like a neighbor's house, preparing them for future playdates.</li>
                    <li>Gently introducing them to the joys of children's laughter and play, under careful supervision.</li>
                    <li>Taking them on slightly longer car rides, letting them feel the thrill of a journey.</li>
                    <li>Beginning their training with basic commands like "Sit" and "Stay", laying the foundation for future learning.</li>
                    <li>Allowing them the simple pleasure of watching the world go by from a safe window perch.</li>
                </ul>

                <p>Every puppy from Cuddle Buddy Pups will undergo this rigorous bootcamp. Upon completion, they will be awarded a certification, symbolizing their readiness for a loving home and lifelong companionship.</p>

                <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                    <small>Back to home</small>
                </a>
            </div>
        </div>
    </div>
</div>